body {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 1.6;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background: #fff;
    color: #333
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#header {
    padding: 10px 0;
    margin-bottom: 14px;
    border-bottom: 1px solid #ebecef;
    background: #fff;
    color: #17191c;
}

#header .logo {
    max-width: 100%;
    float: left;
    margin: 6px 0 0
}

.exclusive {
    color: #686868;
    margin: 0 0 5px;
    font-weight: 400;
    font-size: 14px
}

ul {
    margin-bottom: 26px;
}

@media (max-width: 640px) {
    .exclusive {
        font-size: 13px
    }
}

.by {
    padding: 0;
    font-size: 13px;
    line-height: 1.4em;
    color: #777;
    margin: 0 auto 8px
}

.page-container {
    width: 100%
}

.page-container:before,
.page-container:after,
.page-column:before,
.page-column:after,
.clearfix:before,
.clearfix:after {
    display: table;
    content: " "
}

.page-container:after,
.page-column:after,
.clearfix:after {
    clear: both
}

.page-container,
.page-column {
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto
}

.page-row {
    position: relative
}

.page-content,
.page-sidebar {
    position: relative;
    min-height: 1px;
    margin-bottom: 30px
}

@media (max-width:767px) {
    .page-sidebar .img-responsive {
        margin: 44px auto 20px
    }
}

.img-main {
    float: right;
    margin: 6px 0 20px 20px
}

@media(max-width:867px) {
    .img-main {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto
    }
}

@media (min-width:768px) {
    .page-container,
    .page-column {
        width: 768px
    }
    .page-row>.page-sidebar {
        width: 238px;
        position: absolute;
        top: 0;
        right: 0
    }
    .page-row>.page-content {
        margin-right: 268px
    }
}

@media (min-width:810px) {
    .page-container,
    .page-column {
        width: 810px
    }
}

@media (min-width:868px) {
    .page-container,
    .page-column {
        width: 868px
    }
}

@media (min-width:968px) {
    .page-container,
    .page-column {
        width: 968px
    }
}

@media (min-width:1060px) {
    .page-container,
    .page-column {
        width: 1060px
    }
}

a,
a:visited {
    color: #167ac6;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    outline: 0
}

a:hover,
a:focus {
    text-decoration: underline
}

p {
    margin: 0 0 20px
}

b {
    font-weight: 700
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 20px auto;
    border: 0;
    border-top: 1px solid #eee
}

h1 {
    padding: 0;
    margin: 10px 0;
    line-height: 1.2;
    color: #17191c;
    font-size: 31px;
    font-weight: 800
}

h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 1.3;
    margin: 20px 0;
    color: #17191c
}

@media (max-width:767px) {
    h1 {
        font-size: 30px
    }
    h3 {
        font-size: 22px
    }
}

@media (min-width: 359px) and (max-width: 486px) {
    h1 {
        font-size: 26px;
        font-weight: 700;
        line-height: 1.16em
    }
}

@media (max-width: 358px) {
    h1 {
        font-size: 25px;
        font-weight: 700;
        line-height: 1.16em
    }
}

img {
    vertical-align: middle;
    border: 0
}

.img-responsive {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.img-cntr {
    margin: 30px 0 40px;
    max-width: 360px;
    width: 100%;
    height: auto;
    display: block
}

@media(max-width: 500px) {
    body {
        font-size: 16px
    }
}

.disclaimer-footer1 {
    font-size: 17px;
    font-weight: 400
}

#footer {
    padding: 60px 0;
    margin-top: 100px;
    font-size: 14px;
    word-wrap: break-word;
    background: #2e3138;
    color: #abb0ba
}

#footer p:last-child {
    margin: 0
}

#footer a,
#footer a:hover,
#footer a:visited {
    color: #abb0ba;
    font-weight: 400
}

#footer a:before {
    content: '\00B7';
    padding: 0 5px
}

.top-banner {
    display: none
}

@media (min-width: 744px) {
    .top-banner {
        line-height: 1.2;
        display: block;
        width: 420px;
        height: 52px;
        background-color: #f7f7f7;
        float: right;
        margin: 6px 0 0
    }
}

@media (min-width: 868px) {
    .top-banner {
        line-height: 1.2;
        display: block;
        width: 468px;
        height: 54px;
        background-color: #f7f7f7;
        float: right;
        margin: 4px 0 0
    }
}

.top-banner-txt-1 {
    font-size: 15px;
    display: inline-block;
    margin-top: 9px;
    color: #333;
    font-weight: 700
}

.top-banner-txt-2 {
    font-size: 13px
}

a .top-banner-txt-2 {
    color: #333 !important;
    text-decoration: underline
}

a .top-banner-txt-2:hover {
    color: #555 !important
}

a .top-banner-txt-2:focus {
    color: #555 !important
}

.top-banner-img {
    margin: 4px 8px 0 5px;
    float: left
}

.img-side {
    margin-top: 18px;
    max-width: 235px
}

.global-header {
    width: 100%;
    background: #344A5F;
    overflow: hidden;
    height: 46px
}

.global-header p {
    display: inline-block;
    color: #999;
    font-size: .85em
}

.global-header p.brand {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase
}

.global-header p.brand strong {
    font-weight: 700
}

.global-header p.brand {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin: 8px 2px 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333
}

.global-header p.back-to-article {
    float: right;
    margin-bottom: 0 !important;
    font-size: 16px !important
}

.global-header p.back-to-article a {
    display: inline-block;
    padding: 12px;
    margin: 0;
    background: #273C51;
    font-weight: 400 !important;
    color: #fff;
    text-decoration: none
}

.global-header p.back-to-article a:hover {
    background: #08c
}

.top-advertorial {
    width: 100%;
    text-align: center;
    background-color: #273C51
}

.top-advertorial-text {
    font-size: 14px;
    max-width: 1100px;
    margin: 0 auto;
    color: #d7d7d7
}

.img-responsive-m {
    margin: 0 auto 20px;
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto
}

.img-responsive-m2 {
    margin: 0 auto 40px;
    display: block;
    width: 100%;
    max-width: 310px;
    height: auto
}

.img-responsive-n {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    max-width: 610px;
    height: auto
}

.img-nomargin {
    margin-bottom: 6px !important
}

.container {
    padding: 0 10px
}

@media (min-width: 968px) {
    .container {
        width: 953px;
        margin: 0 auto
    }
    .page-sidebar {
        width: 70%;
    }
}

@media (min-width: 1000px) {
    .container {
        width: 985px;
        margin: 0 auto
    }
    .page-sidebar {
        width: 70%;
    }
}

@media (min-width: 1060px) {
    .container {
        width: 1045px;
        margin: 0 auto
    }
    .page-sidebar {
        width: 70%;
    }
}

@media (max-width: 570px) {
    .global-header p.back-to-article {
        display: none
    }
    .top-advertorial {
        text-align: center
    }
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
    margin-bottom: 30px
}

.protect {
    border: 1px #ebecef solid;
    padding: 4px 14px 14px;
    margin-bottom: 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

li {
    margin: 13px 0
}

#share-container,
.text {
    text-align: center
}

#share-container {
    white-space: nowrap;
    margin: 0 0 18px
}

.box {
    cursor: pointer;
    display: inline-block;
    width: 33.0%;
    margin: 0 auto
}

.box1,
.box2,
.box3 {
    border-radius: 3px;
    -webkkit-border-radius: 3px;
    -moz-border-radius: 3px
}

.box2 {
    margin: 0 4px
}

.box1:hover {
    background-color: #2C4278 !important
}

.box2:hover {
    background-color: #0086BD !important
}

.box3:hover {
    background-color: #C9371F !important
}

.text {
    padding: 6px 0;
    color: #fff;
    font-weight: 700
}

.recommended {
    max-width: 804px;
    margin-bottom: 40px;
    font-size: 14px
}

.img-recommended {
    display: inline-block;
    max-width: 241px;
    margin-right: 14px
}

.img-recommended a {
    color: inherit;
    font-weight: 400
}

.img-recommended a:hover {
    text-decoration: underline
}

@media (max-width: 810px) {
    .img-r3 {
        margin-right: 0
    }
}

.txt-r {
    line-height: 1.25;
    margin-top: 3px
}

@media (max-width: 809px) {
    .recommended {
        display: none
    }
    .page-sidebar {
        width: 100%;
    }
}

.img2 {
    max-height: 300px
}

.italic-center {
    font-style: italic;
    text-align: center;
    padding: 2px 14px;
    line-height: 1.45em;
    font-weight: 400 !important
}

.attention {
    font-size: 19px;
    margin: 20px 0;
    background-color: #fef5c4;
    border: 1px solid #fadf98;
    padding: 13px;
    line-height: 1.5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

@media (max-width: 480px) {
    .attention {
        font-size: 16px;
        margin: 10px 0
    }
}

.noteauthor {
    font-size: 15px;
    padding-bottom: 10px
}

.noteauthor1 {
    font-size: 14px;
    padding-top: 14px
}

.btnn {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 9px 10px;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    margin: 6px 0 20px;
    color: #fff;
    cursor: pointer;
    display: block
}

.btnn:visited {
    color: #fff
}

@media (min-width: 346px) {
    .btnn {
        font-size: 19px
    }
}

@media (min-width: 374px) {
    .btnn {
        font-size: 26px
    }
}

.photobox {
    width: 315px;
    height: auto;
    float: right;
    margin: 6px 0 20px 12px
}

.ptxt {
    line-height: 1.1;
    font-size: 13px;
    padding: 3px 0;
    color: #555
}

.img-txt {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 24px
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%
}

.videoSize {
    display: block;
    width: 100%;
    margin: 0 auto 30px
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.bonus {
    font-weight: 700;
    font-size: 21px;
    text-decoration: underline
}

.h3-23px {
    font-size: 23px
}

.text-center {
    text-align: center
}

.i1 {
    margin-bottom: 30px
}

.img-middle {
    max-width: 600px;
    display: block;
    margin: 25px auto 30px
}

.img-middle1 {
    max-width: 600px;
    display: block;
    margin: 25px 0 30px
}

.welse {
    margin-top: 35px
}

.mtop30 {
    margin-top: 30px
}

.below-article {
    max-width: 760px;
    margin-top: 80px
}

.title-side1 {
    font-size: 21px;
    line-height: 35px;
    font-weight: 800;
    text-align: left;
    margin: 4px 0 10px;
}

.sidebar-item {
    padding: 10px;
    width: 100%;
    border-left: 1px solid #ebecef;
    border-bottom: 1px solid #ebecef;
}

.talking {
    margin: 10px;
}

.check-side {
    font-size: 15px;
}

.btn-warning:hover {
    background-color: #007206 !important;
}

.img-side-new {
    width: 100%;
    margin-bottom: 20px;
}

.sidebar-separators {
    border-left: 1px solid lightgray !important;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.title-side1 {
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
    margin: 4px 0 10px;
}

.check-side {
    text-align: center;
    font-size: 13px;
    margin: 10px 8px 0 0;
}

.btnn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0 1px 0 0;
    -webkit-box-shadow: 0 1px 0 0;
    -moz-box-shadow: 0 1px 0 0
}

.red {
    background-color: #089358;
    box-shadow: 0 5px 0 0 #BC1F1F;
    -webkit-box-shadow: 0 5px 0 0 #ffffff;
    -moz-box-shadow: 0 5px 0 0 #BC1F1F
}

.red:hover {
    background-color: #2cb179;
    text-decoration: none;
    color: #fff
}

a,
a:visited {
    color: #167ac6;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    outline: 0
}

a:hover,
a:focus {
    text-decoration: underline
}

blockquote {
    padding: 0 0 60px;
    border: none;
    color: #757575;
    font-weight: 300;
    position: relative;
    background: url("images/quote.png.html") left bottom no-repeat;
    margin-bottom: 20px
}

blockquote p {
    font-size: 18px
}

.kopa-blockquote.style2 {
    margin: 0px;
    background: 0 0;
    padding: 0 0 0 20px;
    font-size: 16px;
    line-height: 24px;
    color: #32323c;
    border-left: 3px solid #337ab7;
    position: relative
}

.cta {
    text-align: center
}

.cta a {
    margin-top: 30px;
    display: inline-block;
    padding: 12px 35px;
    background: #32cd32;
    color: #fff !important;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 20px
}

.group {
    zoom: 1
}

.section {
    clear: both;
    padding: 0;
    margin: 0
}

.col:first-child {
    margin-left: 0
}

.span_1_of_2 {
    width: 49.2%
}

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%
}

.imgres {
    width: 100%;
    height: auto;
    margin-top: 7px
}

.i5 {
    max-width: 240px;
    margin: 8px 0 20px 20px;
    float: right;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: .5em 10px;
    quotes: "\201C""\201D""\2018""\2019"
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em
}

blockquote p {
    display: inline
}

.importantupdate {
    border: 1px solid #444;
    padding: 0 20px 20px
}

.i1 {
    max-width: 778px;
    margin: 20px 0;
    width: 100%;
    height: auto;
    display: block
}

.i2 {
    float: left;
    padding: 0 20px 20px 0
}

@media (max-width: 569px) {
    .i2 {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 20px auto
    }
}